version: '3.8'

services:

  spring-app:
    build: ./backend
    container_name: spring-app
    ports:
      - "8080:8080"
    networks:
      - monitor-net
    depends_on:
      - prometheus

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    networks:
      - monitor-net
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana
    container_name: grafana
    networks:
      - monitor-net
    ports:
      - "3000:3000"
    volumes:
      - grafana-storage:/var/lib/grafana

networks:
  monitor-net:

volumes:
  grafana-storage:
